@font-face {
    font-family: "Main1";
    src: url(/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}


html {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #FCA311;
}

h1 {
    padding: 0px;
    margin: 0px;
}

footer {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: black;
    color: #E5E5E5;
    display: grid;
    grid-template:
        'smIcons' 'quicklinks' 'contact';
    gap: 10px;
    padding: 24px;
}

#smIcons {
    display: flex;
    margin: 8px;
    grid-area: smIcons;
}

.smIcon {
    width: 24px;
    margin: 4px;
    padding: 4px;
    border: 1px solid #035cee;
    border-radius: 5px;
    aspect-ratio: 1;
    filter: invert(1);
    background-color: white;
}

#quicklinks {
    display: flex;
    grid-area: quicklinks;
}

#contact {
    display: flex;
    grid-area: contact;
}